:root{
    --primary-color: #425cbb;
}

/* margins */

.top_60{
    margin-top: 60px;
}

.top_30{
    margin-top: 30px !important;
}

.mb_30{
    margin-bottom: 30px !important;
}

/* paddings */

.p_30{
    padding: 30px;
}

/* .p_50{
    padding: 50px;
} */

.pb_45{
    padding-bottom: 45px;
}

.pt_45{
    padding-top: 45px;
}

@media screen and (max-width:991px){
    .top_60{
        margin-top: 30px;
    }
}

.container_shadow{
    box-shadow: 0px 2px 92px 0px rgb(0, 0, 0, 0.07);
}

/* .bg_gray{
    background-color: #fafafa;   
} */